body {
    margin: 0;
    background-color: #fafafa;
}

.heroImg {
    background-image: url('../img/heroBg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}